.main
  .main__hedder
    .main__hedder__left-box
      .main__header__left-box__current-group
        test
      .main__header__left-box__member-list
        Member：tsurugi
    .main__hedder__edit_btn
      Edit
  .messages
  .form
    .input-box
      %input.input-box__text{:placeholder => "take a message"}
        
      %label{class: "input-box__image"}
        = icon('fas', 'image')
        %input{class: "input-box__image__file", type: "file"}
    .submit-btn
      send