.side
  .side__up
    .side__up__box
      .side__up__box__user-name
        tsurugi
      .side__up__box__menu
        = link_to "#" do
          = icon('far', 'edit', class: 'edit') 
          = icon('fas', 'cog', class: 'cog')
  .side__down
    .group
      .group__name
        hhh
      .group__latest-massage
        まだメッセージがありません